<div class="row" ng-controller="ProfileController" ng-init="getUserInfo()">
	<nav class="navbar navbar-default navbar-fixed-top">
	  <div class="container">
	    <ul class="nav navbar-nav">
		    <li class=""><a href="/#/swaps/{{currentUser._id}}">Swaps</a></li>
		    <li><a href="/#/mygroups/{{currentUser._id}}">Groups</a></li>
		    <li ng-show="sharedservices.loggedIn()"><a ng-click="sharedservices.logout()">Logout</a></li>
	    </ul>
	  </div>
	</nav>
</div>
<div class="container" id="profileShowContainer" ng-controller="ProfileController" ng-init="getUserInfo()">
	<div id="leftSide" class="col-md-2">
		<div class="row">
			<div id="profilePicContainer">
				<div id="profilePicPlaceholder"><span ng-show="currentUser.img_url == ''">Profile Pic Placeholder</span>
					<img class="img-responsive center-block" id="profilePic" src="{{currentUser.img_url}}" ng-show="currentUser.img_url != ''">
				</div>
			</div>
		</div>
		<div class="row"  ng-show="currentUser.img_url == ''"><button class="btn" type="file" ngf-select="uploadFiles($file, $invalidFiles)" accept="image/*">Add Profile Pic</button></div>
		<div class="row"  ng-show="currentUser.img_url != ''"><button class="btn" type="file" ngf-select="uploadFiles($file, $invalidFiles)" accept="image/*">Edit Profile Pic</button></div>
		<div class="row">
			<div id="username">{{currentUser.firstname}} {{currentUser.lastname}}</div>
		</div>
		<div class="row">
			<div id="memberSince">Member Since: {{currentUser.join_date}} | date:'MM/dd/yyyy</div>
		</div>
<!-- 		<div class="row">
			<div id="prevLikedWorkHeader">Previously Liked Works</div>
		</div>
		<div class="row">
			<div id="prevLikedWorkImages">Prev Liked Works Placeholder</div>
		</div>
 -->	</div>

	<div id="rightSide" class="col-md-10">
		<div class="row">
			<a class="btn btn-primary" href="/#/addGallery/{{currentUser._id}}">Add Gallery</a>
		</div>
		<div class="row" ng-repeat="gallery in currentUser.galleryDocs">
			<div class="panel panel-info">
				<div id="" class="col-md-12 panel-heading">
					<h3 class="panel-title col-md-9">{{gallery.name}}</h3>
					<button class="col-md-2 btn btn-success btn-md" ng-click="getWorksInGallery(gallery._id)">View Details</button>
					<a class="col-md-1 btn btn-primary addWorkButton" href="/#/addWork/{{gallery._id}}">Add Work</a>
				</div>
				<div class="panel-body">
					<img ng-repeat="work in gallery.works" class="works" src="{{work.img_url}}">
				</div>
			</div>
		</div>
	</div>
</div>

<!-- <div class="container" ng-repeat="gallery in currentUser.galleryDocs">
  <div class="row">
    <div uib-carousel no-wrap="noWrapSlides" id="galleryCarousel{{$index}}">
      <div class="carousel-inner">
        <div uib-slide ng-repeat="slide in gallery.works track by slide.id" index="slide.id">
          <div class="carousel-caption">
            <h2>{{slide.name}} </h2><p>{{slide.month}} {{slide.year}}; ${{slide.approximate_value}}</p>
            <p>{{slide.description}}</p>
          </div>
          <img src={{slide.img_url}}>
        </div>
      </div>
    </div>
  </div>
</div> -->