<div class="row" ng-controller="ProfileController">
	<div id="leftSide" class="col-md-2">
		<div class="row">
			<div id="profilePicContainer">
				<div id="profilePicPlaceholder"><span ng-show="currentUser.img_url == ''">Profile Pic Placeholder</span>
					<img id="profilePic" src="{{currentUser.img_url}}" ng-show="currentUser.img_url != ''">
				</div>
				<div class="row"  ng-show="currentUser.img_url != ''"><button class="btn" type="file" ngf-select="uploadFiles($file, $invalidFiles)" accept="image/*">Add Profile Pic</button></div>
				<div class="row"  ng-show="currentUser.img_url == ''" ngf-select="upload($file)"><button class="btn"  ngf-select="upload($file)">Edit Profile Pic</button></div>
			</div>
		</div>
		<div class="row">
			<div id="username">{{currentUser.firstname}} {{currentUser.lastname}}</div>
		</div>
		<div class="row">
			<div id="memberSince">Member Since: {{currentUser.join_date}}</div>
		</div>
		<div class="row">
			<div id="prevLikedWorkHeader">Previously Liked Works</div>
		</div>
		<div class="row">
			<div id="prevLikedWorkImages">Prev Liked Works Placeholder</div>
		</div>
	</div>

	<div id="rightSide" class="col-md-10">
		<div class="row">
			<button class="btn">Add Gallery</button>
		</div>
		<div class="row">
			<div id="galleryContainer">Gallery Container</div>
		</div>
	</div>
</div>